<!DOCTYPE html>
<html lang="en-GB">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<style>
		@import url(https://fonts.googleapis.com/css?family=Inconsolata&display=swap);
		@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap);
	</style>

	<link rel='stylesheet' href='/guides/css/style.css' type='text/css' media='all' />
	<script src="/guides/js/script.js"></script>
	<script src="/guides/js/search.js"></script>

	<title data-rh="true">How to Play Werewolf Online | werewolv.es</title>

	<meta data-rh="true" property="og:title" content="How to Play Werewolf Online"/>
	<meta data-rh="true" property="og:description" content="How to Play guide for werewolv.es"/>
	<meta data-rh="true" property="og:type" content="website"/>
	<meta data-rh="true" name="twitter:card" content="summary"/>
	<meta data-rh="true" name="twitter:title" content="How to Play Werewolf Online"/>
	<meta data-rh="true" name="twitter:description" content="How to Play guide for werewolv.es"/>
	<meta data-rh="true" charSet="utf-8"/>
	<meta data-rh="true" name="apple-mobile-web-app-title" content="werewolv.es"/>
	<meta data-rh="true" name="application-name" content="werewolv.es"/>
	<meta data-rh="true" name="description" content="Official How to Play guide for online werewolf, a web based version of the party game Mafia, aka Werewolf. Contains role descriptions, tips and strategy for playing"/>

	<meta data-rh="true" name="theme-color" content="#000000"/>
	<link data-rh="true" rel="apple-touch-icon" href="/guides/apple-touch-icon.png" sizes="180x180"/>
	<link data-rh="true" rel="icon" type="image/png" href="/guides/favicon-194x194.png" sizes="194x194"/>
	<link data-rh="true" rel="icon" type="image/png" href="/guides/android-chrome-192x192.png" sizes="192x192"/>
	<link data-rh="true" rel="icon" type="image/png" href="/guides/favicon-16x16.png" sizes="16x16"/>
	<link data-rh="true" rel="manifest" href="/guides/manifest.json"/>
	<link data-rh="true" rel="mask-icon" href="/guides/safari-pinned-tab.svg" color="#000000"/>
	<link data-rh="true" id="favicon" rel="shortcut icon" href="/guides/favicon.ico"/>
	<link data-rh="true" rel="canonical" href="https://werewolv.es/guides/how-to-play-online-werewolf"/>
</head>

<body class="has-drawer backdropped">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container" style="background-color: #060606;">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="/">werewolv.es</a>
            </div>

            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">

<li><a href="/guides/how-to-play-online-werewolf">How to Play</a></li>
<li><a href="/Home/SpeedGameEmailSignUp">Speed Games</a></li>
<li><a href="/Replays/All">Replays</a></li>
<li><a href="https://discord.com/invite/UQYzNeA">Discord</a></li>
<li><a href="http://blog.werewolv.es">Blog</a></li>
<li><a href="/Home/Donate">Donate</a></li>
<li>
    <a class="nav-link text-dark" title="Manage Werewolv.es Account" rel="nofollow" href="/Identity/Account/Manage">Account</a>
</li>

                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

	<div class="container-fluid" style="margin-bottom: 2em;">
			<div class="row">
				<div class="col-xs-12 col-md-9">
					<div class="background-cover">

