<div class="hidden-xs hidden-sm col-md-3" id="normalSidebar">
	<input class="form-control" data-search-top="#normalSidebar" value="" placeholder="Search...">
	{{ partial "layout/sidebar_contents" . }}
</div>

<div id="guide-info" class="drawer drawer-right dw-xs-10 dw-sm-6 dw-md-4 fold">
    <div class="drawer-contents">
        <div class="drawer-heading">
            <a class="pull-right" href="#guide-info" data-toggle="drawer" aria-controls="drawerExample">
                <i class="fa fa-close fa-lg"></i>
            </a>
            {{ partial "layout/sidebar_contents" . }}
        </div>
    </div>
</div>
